<template>
    <div class="danhsach">
	      <h2>{{title}}</h2>
	        <table class="table">
	            <thead>
	              <tr>
	                <th>ID</th>
	                <th>Name</th>
	                <th>Password</th>
	                <th>Age</th>
	              </tr>
	            </thead>
	            <tbody>
	                <tr v-for='data in datas'>
	                  <td>{{data._id.$oid}}</td>
	                  <td>{{data.name}}</td>
	                  <td>{{data.password}}</td>
	                  <td>{{data.age}}</td>
	                </tr>
	                 
	            </tbody>
	        </table>
	    </div>


</template>
<script>
var config = {
    headers: {
		'Content-Type': 'application/json',
		'Authorization': 'Bearer 5dfcea06e5cf4e645a2bea88888888'
		}
};
export default {
    data(){
        return {
			title: 'Danh sach User',
			datas: []
        }
	},
	created: function (){
		//this.danhsach_user();
		this.danhsach_code();
	},
	methods:{
		danhsach_user(){
			this.axios.get('https://599f807effe73c0011b9fcc5.mockapi.io/api/user').then((response)=>
			{
				//console.log(response)
				this.datas = response.data;
			});
		},
		danhsach_code(){
			this.axios.post('https://api.mavip.vn/api/code/all/1', config)
			.then((response) => {
				this.datas = response.data;
				console.log(response)
			}).catch((error) => {
				console.log(error)
			});
		}
	}
}
</script>
<style>
	table{
	    right: 0;
	    left: 0;
	    top: 0;
	    margin: auto;
	}
	table tr th{
	  background: rgba(0,145,234,1);
	  padding: 10px;
	  color: #fff;
	}
	table tr td{
	  padding: 10px;
	  border-right:1px solid rgba(0,0,0,0.1);
	  font-size: 15px;
	}
	 </style>
